<!doctype html>
<html>

<!-- /index.html   -->

<head>
	<%- include('layout/meta') -%>

</head>

<body data-anm=".anm">

	<div class="wrapper">
		
		<%- include('layout/header') %>
		<div id="main-content">
			<div class="jumbotron">
				

				<div class="container">
					<div class="jumbotron-inner">
						<div class="img-col">
							<!-- <div class="khakhra-packet regular-khakhra anm" data-speed-x="5" data-speed-y="-5" data-speed-scale="5">
								<div class="khakhra-packet-inr" data-aos="zoom-out">
									<img src="<%=jumbotron !== null ? jumbotron.image1 : 'images/assets/wheat-7.png'%>" alt="Maruti Munchies"  height="500"/>
								</div>
							</div> -->

							<!-- <div class="khakhra-packet mobile-khakhra anm" data-speed-x="-5" data-speed-y="5" data-speed-scale="10">
								<div class="khakhra-packet-inr" data-aos="zoom-out" data-aos-delay="100"><img
										src="<%=jumbotron !== null ? jumbotron.image2 : 'images/assets/wheat-7.png'%>" alt="Maruti Munchies" /></div>
							</div> -->

							 <!-- <div class="flour-bowl anm" data-speed-x="2" data-speed-y="-3" data-speed-scale="6">
								<div data-aos="fade-up" data-aos-delay="200"><img src="<%=jumbotron !== null ? jumbotron.image3 : 'images/assets/wheat-7.png'%>"
										alt="Maruti Munchies" /></div>
							</div> -->
<!-- 							
							<div class="laung anm" data-speed-x="-2" data-speed-y="2" data-speed-scale="10">
								<div data-aos="fade-in" data-aos-delay="300"><img src="<%=jumbotron !== null ? jumbotron.image4 : 'images/assets/wheat-7.png'%>" alt="Maruti Munchies" />
								</div>
							</div> -->
						</div>

						<div class="text-col" data-aos="fade-in">
							<h4 class="anm" data-speed-x="-1" data-speed-y="1" data-speed-scale="2"><%=jumbotron !== null ? jumbotron.heading : 'test' %></h4>
							<h2 class="anm" data-speed-x="1" data-speed-y="-1" data-speed-scale="2"><%=jumbotron !== null ? jumbotron.sub_heading : 'test' %></h2>
							<a href="/products/all" class="btn btn-primary mt-3 anm" data-speed-x="2" data-speed-y="-2"
								data-speed-scale="2">View All Products</a>
						</div>
					</div>
				</div>
			</div>

			<section class="facts-section">
				<!-- <div class="pos-abs red-green-chilli" data-aos="fade-right">
					<img src="<%=fact ? fact.left_image : ''%>" alt="Maruti Munchies" />
				</div> -->
				<div class="container">

					<!-- <div class="round-top-khakhra" data-aos="zoom-in">
						<img src="<%=fact ? fact.main_image : ''%>" alt="Maruti Munchies" />
					</div> -->

					<div class="row facts-row">
						<div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-2 fact-col fact-col-left">
							<div class="row">
								<div class="col-12">
									<div class="fact-icon" data-aos="fade-left">
										<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
											x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;"
											xml:space="preserve">
											<path d="<%=fact !== null ? fact.left_top_svg : 'test' %>" />
											
										</svg>
									</div>
									<h2 data-aos="fade-left"><%=fact !== null ? fact.left_top_heading : 'test' %> <span><%=fact !== null ? fact.left_top_sub_heading : 'test' %></span></h2>
								</div>
								<div class="col-12">
									<div class="fact-icon" data-aos="fade-left">
										<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
											x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;"
											xml:space="preserve">
											<g>
												<path d="<%=fact !== null ? fact.left_bottom_svg : 'test' %>" />
												
											</g>
										</svg>
									</div>
									<h2 data-aos="fade-left"><%=fact !== null ? fact.left_bottom_heading : 'test' %> <span><%=fact !== null ? fact.left_bottom_sub_heading : 'test' %></span></h2>
								</div>
							</div>
						</div>

						<div class="col-lg-4 col-md-6 col-sm-12  col-12 mb-2 fact-col fact-col-right">
							<div class="row">
								<div class="col-12">
									<div class="fact-icon" data-aos="fade-right">
										<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
											x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;"
											xml:space="preserve">
											<g>
												<path d="<%=fact !== null ? fact.right_top_svg : 'test' %>" />
												
											</g>
										</svg>
									</div>
									<h2 data-aos="fade-right"><%=fact !== null ? fact.right_top_heading : 'test' %> <span><%=fact !== null ? fact.right_top_sub_heading : 'test' %></span></h2>
								</div>
								<div class="col-12">
									<div class="fact-icon" data-aos="fade-right">
										<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
											x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;"
											xml:space="preserve">
											<g>
												<path
													d="<%=fact !== null ? fact.right_bottom_svg : 'test' %>" />
												
											</g>
										</svg>
									</div>
									<h2 data-aos="fade-right"><%=fact !== null ? fact.right_bottom_heading : 'test' %> <span><%=fact !== null ? fact.right_bottom_sub_heading : 'test' %></span></h2>
								</div>
							</div>
						</div>
						<div class="col-12 mb-2 d-flex justify-content-center">
							<h2 class="text-center flavours-text" data-aos="fade-down">
								<span>availalbe in</span>
								15 Flavours
							</h2>
						</div>
					</div>
				</div>
			</section>

			<section class="about-section">
				<!-- <div class="pos-abs khakhra-wheat-abs" data-aos="fade-right"><img src="<%=about !== null ? about.left_image : 'images/assets/wheat-7.png'%>"
						alt="Maruti Munchise" /></div>
				<div class="pos-abs abt-wheat-abs" data-aos="fade-left"><img src="<%=about !== null ? about.right_image : 'images/assets/wheat-7.png'%>"
						alt="Maruti Munchise" /></div> -->
				<div class="container">
					<div class="title text-center" data-aos="fade-up">
						<h4 class="sub-title">know</h4>
						<h2 class="main-title">About Us</h2>
					</div>

					<div class="about-data">
						<p data-aos="fade-up"><%-about ? about.about : ''%></p>
					</div>

					<div class="row">
						<div class="col-12 text-center" data-aos="fade-up">
							<a href="/about" class="btn btn-primary">Know More</a>
						</div>
					</div>

				</div>
			</section>

			<section class="flavours-section">
				<!-- <div class="pos-abs flavour-wheat" data-aos="zoom-in"><img src="images/assets/wheat-8.png"
						alt="Maruti Munchies" /></div>
				<div class="pos-abs flavour-tomato" data-aos="fade-right"><img src="images/assets/tomato.png"
						alt="Maruti Munchies" /></div>
				<div class="pos-abs flavour-leave" data-aos="fade-left"><img src="images/assets/leave.png"
						alt="Maruti Munchies" /></div>
				<div class="pos-abs flavour-khakhra-wheat" data-aos="zoom-in"><img src="images/assets/small-khakhra-wheat.png"
						alt="Maruti Munchies" /></div>
				<div class="pos-abs flavour-two-beans" data-aos="zoom-in"><img src="images/assets/wheat-11.png"
						alt="Maruti Munchies" /></div> -->

				<div class="title text-center" data-aos="fade-up">
					<h4 class="sub-title">our</h4>
					<h2 class="main-title">Products</h2>
				</div>

				<div class="flavours-slider owl-carousel" id="flavour-slider">
					<% product.forEach((row ,index) => { %>
						<div class="item">
							<div class="flavour-col">
								<div class="slider-khakhra-img">
									<div class="khakhra-bg"><img src="images/khakhra-flavour/methi-bg.png" /></div>
									<div class="slide-khakhra slider-round-khakhra"><img src="<%= row !== null ? row.images[0] : 'images/assets/wheat-11.png' %>"
											alt="Maruti Muncgies" /></div>
									<div class="slide-khakhra slider-mobile-khakhra"><img src="<%= row !== null ? row.images[1] : 'images/assets/wheat-11.png' %>"
											alt="Maruti Muncgies" /></div>
								</div>
								<div class="khakhra-flavour-name">
									<h3><%= row !== null ? row.name : 'test' %>
										<span></span>
									</h3>
								</div>
							</div>
						</div>
					<%})%>
					

					

					

				

					



				</div>

				<div class="row">
					<div class="col-12 text-center mt-2">
						<a href="/products/all" class="btn btn-primary">Explore All Products</a>
					</div>
				</div>


			</section>

			<!-- <section class="process-section">
				<div class="pos-abs process-khakhra-bites" data-aos="zoom-in"><img src="images/assets/khakhra-bites.png"
						alt="Maruti Munchies" /></div>
				<div class="pos-abs process-khakhra-dough" data-aos="fade-left"><img src="images/assets/dough.png"
						alt="Maruti Munchies" /></div>
				<div class="container">
					<div class="title text-center" data-aos="fade-up">
						<h4 class="sub-title">our</h4>
						<h2 class="main-title">Process</h2>
					</div>

					<div class="process-data">
						<div class="row">
							<%process.forEach((row, index) => { %>

							
							<div class="col-lg-4 col-md-12 col-sm-12 col-12 mb-3">
								<div class="process-inr" data-aos="fade-right">
									<div class="process-img text-center"><img src="<%=row !== null ? row.image : 'images/assets/wheat-11.png'%>" alt="Maruti Munchies" /></div>
									<div class="process-text text-center">
										<!-- <div class="process-count"><%=++index%></div> -->
										<div class="process-count">1</div>
										<h3><%= row !== null ? row.process_name : "test"%></h3>
										<p class="text-center">
											<%= row !== null ? row.process_description : "test"%>

										</p>
									</div>
								</div>
							</div>
							<% })%>
							
						</div>
					</div>

				</div>
			</section> -->

			<%- include('layout/brochure_section') %>

			<div class="clearfix"></div>
		</div>

		<div class="clearfix"></div>

		<%- include('layout/footer') %>

		<div class="go-top-area">
			<div class="go-top-wrap">
				<div class="go-top-btn-wrap">
					<div class="go-top go-top-btn">
						<i class="fa fa-angle-double-up"></i>
						<i class="fa fa-angle-double-up"></i>
					</div>
				</div>
			</div>
		</div>

	</div>

	<%- include('layout/scripts') -%>
</body>

<!-- /index.html   -->

</html>