<footer>
    <div class="ftr-wheat-farm"></div>
    <div class="footer-wrapper">
        <div class="container">
            <div class="ftr-logo d-flex justify-content-center">
                <a href="index.html"><img src="<%=logo.image%>" alt="Maruti munchies" /></a>
            </div>
            <div class="row">
                <div class="col-lg-10 col-md-10 col-sm-12 col-12 ftr-center-col">
                    <div class="ftr-main-col-row d-flex justify-content-center align-items-start">
                        <div class="ftr-col">
                            <div class="ftr-heading">
                                <div class="ftr-icon ion-ios-location-outline"></div>
                                <h4>Address</h4>
                            </div>
                            <div class="ftr-data">
                                <p>
                                    <%-contact.address%>
                                </p>
                            </div>
                        </div>

                        <div class="ftr-col ftr-col-contact">
                            <div class="ftr-heading">
                                <div class="ftr-icon ion-ios-telephone-outline"></div>
                                <h4>Contact</h4>
                            </div>
                            <div class="ftr-data">
                                <p>
                                    <%=contact.mobile%>
                                </p>
                            </div>
                        </div>

                        <div class="ftr-col">
                            <div class="ftr-heading">
                                <div class="ftr-icon ion-ios-email-outline"></div>
                                <h4>Email</h4>
                            </div>
                            <div class="ftr-data">
                                <a href="mailto:<%=contact.email%>">
                                    <%=contact.email%>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-12">
                    <ul class="ftr-navigation">
                        <li><a class="" href="index.html">Home</a></li>
                        <li><a class="" href="about.html">About</a></li>
                        <li><a class="" href="flavours.html">Flavours</a></li>
                        <li><a class="" href="privacy-policy.html">Privacy Policy</a></li>
                        <li><a class="" href="contact.html">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="copyright">
            <div class="container">

                <div class="copyright-inr">
                    © Copyright - 2023. All Rights Reserved - Maruti Munchies
                </div>

                <div class="social text-right">
                    <a href="https://www.facebook.com/profile.php?id=100089324334813" target="_blank"><i
                            class="fa-brands fa-square-facebook"></i></a>
                    <a href="https://www.instagram.com/marutimunchies_/" target="_blank"><i
                            class="fa-brands fa-instagram"></i></a>
                </div>



            </div>
        </div>


    </div>
</footer>

<div class="whatsapp-icon">
    <a target="_blank" href="https://api.whatsapp.com/send?phone=+91-7777954303&amp;text=Hello"><img
            src="images/whatsapp.png" title="WhatsApp Whyte" alt="Maruti Munchies"></a>
</div>